.footer-container
    div
        span 2020
        span.separator |
        span Built&nbsp;with&nbsp;
        a(href="https://github.com/Azarattum/TheFramework/tree/browser" target="_blank") TheFramework
    div
        span Developed&nbsp;by&nbsp;
        a(href="https://github.com/Azarattum" target="_blank") Azarattum
        span.separator |
        span Designed&nbsp;by&nbsp;
        a(href="https://vk.com/didiluy" target="_blank") DrGorski
        span.separator |
        a(href="https://github.com/Azarattum/RecipeApp-Frontend" target="_blank") GitHub