div.search-container(controller="search")
    div.header
        div.logo
        div.title RECIPE
    div.search
        input.bar(type="text" placeholder="Ваши ингредиенты..." autofocus)
        button.button(onclick="Controller.search()")
            i.material-icons search
    div.settings
        input(type="checkbox" id="checkbox-strict")
        label.search-mode(for="checkbox-strict") Строгий Поиск
            i.material-icons help
            span.tooltip Использовать только указанные ингредиенты
        label.theme(for="theme")
            i.material-icons nights_stay