div.recipes-container(controller="recipes")
    div.recipes-list
    template.recipe-template
        div.recipe
            img.picture
            div.title
            div.description
            div.time