/* Core styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@font-face {
	font-family: Quartzo;
	src: url(assets/fonts/Quartzo.ttf);
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: var(--color-text);
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-x: hidden;
}

.page {
	--border-radius: 8px;
	--padding-sides: 64px;
	--margin-sides: 16px;
	--margin-vertical: 32px;
}

@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
	#theme ~ * {
		--color-text: rgb(82, 82, 82);
		--color-text-dark: rgb(19, 19, 19);
		--color-text-light: rgb(141, 141, 141);
		--color-page: rgb(247, 247, 247);
		--color-background: rgb(255, 255, 255);
		--color-background-hover: rgb(201, 201, 201);
		--color-background-active: rgb(199, 199, 199);
		--color-border: rgb(212, 212, 212);
	}

	#theme:checked ~ * {
		--color-text: rgb(233, 233, 233);
		--color-text-dark: rgb(226, 226, 226);
		--color-text-light: rgb(165, 165, 165);
		--color-page: rgb(39, 39, 39);
		--color-background: rgb(26, 26, 26);
		--color-background-hover: rgb(49, 49, 49);
		--color-background-active: rgb(90, 90, 90);
		--color-border: rgb(42, 42, 42);
	}

	body {
		background-color: rgb(247, 247, 247);
	}
}

@media (prefers-color-scheme: dark) {
	#theme:checked ~ * {
		--color-text: rgb(82, 82, 82);
		--color-text-dark: rgb(19, 19, 19);
		--color-text-light: rgb(141, 141, 141);
		--color-page: rgb(247, 247, 247);
		--color-background: rgb(255, 255, 255);
		--color-background-hover: rgb(201, 201, 201);
		--color-background-active: rgb(199, 199, 199);
		--color-border: rgb(212, 212, 212);
	}

	#theme ~ * {
		--color-text: rgb(233, 233, 233);
		--color-text-dark: rgb(226, 226, 226);
		--color-text-light: rgb(165, 165, 165);
		--color-page: rgb(39, 39, 39);
		--color-background: rgb(26, 26, 26);
		--color-background-hover: rgb(49, 49, 49);
		--color-background-active: rgb(90, 90, 90);
		--color-border: rgb(42, 42, 42);
	}

	body {
		background-color: rgb(39, 39, 39);
	}
}

.page {
	position: absolute;
	background-color: var(--color-page);
	width: 100vw;
	height: min-content;
	min-height: calc(100vh - 96px);
	padding-bottom: 96px;
}

.page > div[view="search"] {
	height: 0;
}

@media only screen and (max-width: 600px) {
	.page {
		--margin-sides: 4px;
		--margin-vertical: 8px;
		--padding-sides: 16px;
	}
}

@media only screen and (max-width: 350px) {
	.page {
		--padding-sides: 2px !important;
	}
}

@media only screen and (max-height: 600px) {
	.logo {
		display: none;
	}
}

.hidden {
	display: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

object {
	pointer-events: none;
}

a {
	color: var(--color-text);
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	transition: 0.2s;
}
